.menu-container {
  color            : #ffffff;
  overflow         : auto;
  background-color : #333;
  text-decoration  : none;
  font-family      : Arial,
                     serif;
}

.menu-container a {
  float      : left;
  padding    : 14px 16px;
  color      : #fff;
  text-align : center;
  font-size  : 18px;
}

.menu-container a::after {
  float      : left;
  padding    : 14px 16px;
  color      : #fff;
  text-align : center;
  font-size  : 18px;
}

.drop-down {
  float    : left;
  overflow : hidden;
}

.drop-down .drop-btn {
  padding          : 14px 16px;
  color            : white;
  border           : none;
  background-color : inherit;
  outline          : none;
  font-size        : 18px;
}

.drop-down:hover .drop-btn,
.menu-container a:hover {
  color            : white;
  background-color : #5f9ea0;
  text-decoration  : none;
}

.drop-btn.active {
  background-color : #008b8b;
}

.drop-down-content {
  z-index          : 1;
  display          : none;
  position         : absolute;
  min-width        : 160px;
  background-color : #f9f9f9;
  box-shadow       : 0 8px 16px 0 rgba(0,0,0,0.2);
}

.drop-down-content a {
  display         : block;
  float           : none;
  padding         : 12px 16px;
  color           : black;
  text-align      : left;
  text-decoration : none;
}

.drop-down-content a:hover {
  background-color : #ddd;
}

.drop-down:hover .drop-down-content {
  display : block;
}

.spigot-btn {
  width            : 300px;
  height           : 100px;
  padding          : 10px;
  color            : #D4EFFC;
  border           : none;
  border-radius    : 5px;
  background-color : #3E464A;
  box-shadow       : 2px 2px #333A3D;
  text-align       : center;
  font-size        : 32px;
}

.centerfy {
  text-align : center;
}

.spigot-btn:hover {
  display          : inline-block;
  position         : relative;
  background-color : #5f9ea0;
  box-shadow       : 4px 4px #285456;
  transition       : .5s;
  cursor           : pointer;
}

.spigot-btn:hover:after {
  color      : #D4EFFC;
  box-shadow : 2px 2px #333A3D;
  transition : .5s;
}

.active {
  background-color : #008b8b;
}

.drop-down-content .active {
  background-color : #77C6C9;
}

.info {
  font-size : 32px;
}

.plugin-table {
  border-spacing : 50px;
  font-size: 32px;
  border-collapse: separate;
}

.plugin-table a {
  color: #D4EFFC;
  text-decoration: none;
}

.info-table td {
  border: #333 solid;
  padding: 5px 15px 5px 15px;
  width: 300px;
  height: 75px;
  text-align: center;
}

.spigot-download-btn {
  background-color: #333;
  color: #ffffff;
  width: 1105px;
  height: 100px;
  font-size: 32px;
}

.code-box {
  background: #ffffff;
  width: 750px;
  margin: auto;
}

p {
  font-size: 32px;
}

.imprint {
  font-size: 12px;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.25);
}

.jumbotron p {
  color: #D4EFFC
}

.centerfy h1 {
  color: #D4EFFC
}

body {
  background-image: url("background.jpg");
}
